.error-details {
	margin-top:30px;
}

.error-details table th {
	padding-right:20px;
}

.lines .line {
	fill: none;
	stroke-width: 3px;
}
.axis .domain {
	fill: none;
	stroke-width: 0px;
}

thead th.asc:after {
	content: "\21E7";
}

thead th.desc:after {
	content: "\21E9";
}
