{% extends "core.twig" %}
{% block title %}Roles - Modify{% endblock %}
{% block contentHeader %}
        Roles
        <small>Modify a role</small>
{% endblock %}
{% block content %}
      <div class="row">
	<div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Modify a role</h3>
            </div>
            <form class="form-horizontal" action="{{ path_for('admin.roles.change', {'id': role_id}) }}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name" {% if name %} value="{{name}}" {% endif %}>
                  </div>
                </div>
              <div class="box-footer">
                <a href="{{ path_for('admin.roles.list') }}" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel</a>
                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}



