{% if flash.getMessage('success') %}
    <div class="box-body"><div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-check"></i>{{ _(flash.getMessage('success') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('info') %}
    <div class="box-body"><div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-info"></i>{{ _(flash.getMessage('info') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('warning') %}
    <div class="box-body"><div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-warning"></i>{{ _(flash.getMessage('warning') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('error') %}
    <div class="box-body"><div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-ban"></i>{{ _(flash.getMessage('error') | first ) }}
    </div></div>
{% endif %}
