<!-- TODO: gestion du tag "active" -->
      <ul class="sidebar-menu">
        <li class="header">Hosts</li>
        <li class="treeview">
{% for d in menu.domains %}
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>{{ d.name }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
  {% for h in d.hosts %}
            <li><a href="{{ path_for('agent', { 'id': h.id|e }) }}"><i class="fa fa-circle-o"></i>{{ h.name }}</a></li>
  {% endfor %}
          </ul>
{% endfor %}
        </li>
      </ul>
